<h2>Edit a clan in the listing</h2>
<p>Edits are saved automatically</p>
<div>
    <input placeholder="Name" type="text" ng-model="clan.name" ng-change="clan.$save()"/>
    <input placeholder="Description" type="text" ng-model="clan.desc" ng-change="clan.$save()"/>
    <input placeholder="ID" type="text" ng-model="clan.id" ng-change="clan.$save()"/>
    <button ng-click="delClan();" class="red">Delete Clan</button>
</div>
<a ng-href="/clans">
    <button>Go back</button>
</a>