<h2>Official chats</h2>
<ul>
  <li ng-if="chat.$id == 'English'" ng-repeat="chat in chats">
    <a ng-href="https://telegram.me/{{ chat.$value }}">{{ chat.$id }}</a>
  </li>
  <li ng-if="chat.$id != 'English'" ng-repeat="chat in chats | orderBy:'name'">
    <a ng-href="https://telegram.me/joinchat/{{ chat.$value }}">{{ chat.$id }}</a>
  </li>
</ul>
<h2>Rules for all the above chats</h2>
<p>
    To maintain a friendly aura in this community there are a few rules we kindly ask you to follow:
    <ol>
        <li>Do not ask anyone for personal information in these chats.</li>
        <li>Do not send anything related to sex, drugs or any illegal activitiy.</li>
        <li>Do not force anyone to do anything against their will.</li>
        <li>Do not post promotions to other games than those developed by chatrobotic.</li>
    </ol>
    Note that it's your responsibility to be aware of the rules, and we have the right to update the rules at any time without further notice.
</p>