<p ng-if="success">Success, added <b>{{ q }}</b> with answer <em>{{ a }}</em></p>
<form ng-submit="addFAQ()">
    <input type="text" ng-model="newQuestion" placeholder="Question"/>
    <input type="text" ng-model="newAnswer" placeholder="Answer"/>
    <button type="submit">Add Message</button>
</form>
<a ng-href="/faq">
    <button>Go to FAQ's</button>
</a>