<h2>Frequently Asked Questions</h2>
<ul class="faq">
  <li ng-repeat-start="faq in faqs" class="question" ng-bind-html="faq.q"></li>
  <li ng-repeat-end class="answer" ng-bind-html="faq.a"></li>
</ul>